.container
{
    margin-bottom: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.header
{
    background-image: url("img/atas.jpeg");
    background-repeat : no-repeat;
}

.header .header-judul
{
    font-weight: bold;
    font-size: 4em;
    font-family: 'Latto';
    margin-bottom: 0.2em;
}

.header .header-desc
{
    font-size: 1em;
}

.header .header-button
{
    margin-top: 3em;
}

.header .header-button .col
{
    height: 100%;
}

.header .header-button button
{
    border-radius: 5em;
    font-size: 0.7em;
    width: 150px;
    height: 50px;
}

.features .col-12
{
    margin-bottom: 2em;
}

.features .col-md-4
{
    margin-bottom: 2.5em;
}

.features .choose
{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Latto';
    margin-bottom: 1em;
}

.features .features-judul
{
    font-weight: bold;
    margin-bottom: 0.8em;
}

.features img
{
    margin-bottom: 0.5em;
}

.focus
{
    background-image: url("img/focus.png");
    background-repeat : no-repeat;
}

.focus .focus-judul
{
    font-size: 3em;
    font-weight: bold;
    font-family: "Lato";
}

.focus .focus-desc
{
    margin-bottom: 1em;   
}

.focus .progress
{
    margin-bottom: 2em;
}

.bar
{
    width: 20rem;
    margin-left: 2em;
}

.bar .bar-subject
{
    font-size: 0.8em;
    margin-bottom: 0.3em;
    color: blue;
}

.bar .bar-college
{
    font-size: 0.8em;
    margin-bottom: 0.3em;
    color: purple;
}

.bar .progress
{
    border-radius: 2rem;
    height: 1.5em;
}

.bar .bar-prep
{
    font-size: 0.8em;
    margin-bottom: 0.3em;
    color: orange;
}

.footer
{
    background-image: url("img/bawah1.jpeg");
    background-repeat : no-repeat; 
    background-size: 1000px;
}

.footer .card
{
    margin-top: 5em;
    width: 42rem;
    border: none;
    padding: 2em;
}

.footer .learn-title
{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: "Lato";
}

.footer .learn-desc
{
    text-align: center;
}

.footer .col
{
    text-align: center;
}

.footer .learn-button
{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

.footer button
{
    border-radius: 5em;
    font-size: 0.7em;
    width: 150px;
    height: 50px;
    margin-top: 3em;
}